:root {
  --color-background: #e3e3e3;

  --color-primary: #0b6699;

  --color-secundary: #931854;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-background);
  font-family: montserrat;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
